

h1{
    color: #2f5a6e;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    position:relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.aboutMeLink{
    display: flex;
    justify-content: flex-end;
}

.aboutMe{
    display: flex;
    justify-content: flex-end;
}

body{
    background-size: cover;
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=980:*");
}

.aboutMeLink a:link{
    color: red;
}

.aboutMeLink a:visited{
    color: green;
}

.item p{
    opacity: 0;
    position: absolute;
    margin-top: 130px;
    margin-left: 100px;
}

.item:hover p{
    opacity: 1;
}
.item:hover a{
    opacity: 0.5;
}

.firstItem{
    position:relative;
    display: flex;
    flex-direction: column;
    margin-left: 145px;
}

.secondItem{
    position:relative;
    display: flex;
    flex-direction: column;
    margin-left: 145px;
}

.firstItem:hover a{
    opacity: 0.5;
}

.secondItem:hover a{
    opacity: 0.5;
}

.firstitem p{
    opacity: 0;
    position: absolute;
    top: 50%;
    margin-left: 100px;
}

.seconditem p{
    opacity: 0;
    position: absolute;
    top: 50%;
    margin-left: 100px;
}